// Text Styles
.x-large {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.allcaps {
    text-transform: uppercase;
}