// Text Styles
.x-large {
    font-size: 2.25rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.allcaps {
    text-transform: uppercase;
}